body {
    width: 100%;
    margin: 0;
    background-color: #b4c8bf;
}


main {
    font-family: "游ゴシック","YuGothic","Yu Gothic","游ゴシック体";
    font-weight: 500;
}


h2 {
    color: #9986b4;
    border-top: 2px double #9986b4;
}

.resizeimage img {
    width: 100%;
}

.contents.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.contents-item p {
    font-size: 20px;
}

.contents-item a {
    text-decoration: none;
}

.contents-item img {
    border-radius: 10px 25px;
}